<a href="https://colab.research.google.com/github/Deepsphere-AI/BCA/blob/main/SEM-2/Data%20Science/Programs/Program_08_Explore_Data_with_Pandas_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importing warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
#Installing pandas
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [3]:
#Importing pandas
import pandas as pd

In [4]:
#Reading the data
vAR_data = pd.read_csv("https://raw.githubusercontent.com/Deepsphere-AI/BCA/main/SEM-2/Data%20Science/Programs/Data/airtravel.csv")

In [5]:
#First 5 data points 
print("\n***************** OutPut **********************\n")
vAR_a = vAR_data.head()
print(vAR_a)
print("\n***************** OutPut **********************\n")

***************** OutPut **********************

  Month   "1958"   "1959"   "1960"
0   JAN      340      360      417
1   FEB      318      342      391
2   MAR      362      406      419
3   APR      348      396      461
4   MAY      363      420      472

***************** OutPut **********************

In [6]:
#Last 5 data points
print("\n***************** OutPut **********************\n")
vAR_data.tail()

***************** OutPut **********************

   Month   "1958"   "1959"   "1960"
7    AUG      505      559      606
8    SEP      404      463      508
9    OCT      359      407      461
10   NOV      310      362      390
11   DEC      337      405      432

In [7]:
#Printing the data shape
print("\n***************** OutPut **********************\n")
print(vAR_data.shape)
print("\n***************** OutPut **********************\n")

***************** OutPut **********************

(12, 4)

***************** OutPut **********************

In [8]:
#Printing the data type
print("\n***************** OutPut **********************\n")
print(vAR_data.dtypes)
print("\n***************** OutPut **********************\n")

***************** OutPut **********************

Month      object
 "1958"     int64
 "1959"     int64
 "1960"     int64
dtype: object

***************** OutPut **********************

In [9]:
#printing the attributes 
print("\n***************** OutPut **********************\n")
print(vAR_data.columns)
print("\n***************** OutPut **********************\n")

***************** OutPut **********************

Index(['Month', ' "1958"', ' "1959"', ' "1960"'], dtype='object')

***************** OutPut **********************